*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(9, 9, 148);
    height: 100vh;
    color: aliceblue;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#new-item , #new-item-price{
    border: 2px solid chartreuse;
    border-radius: 5px;
    font-size: 2rem;
    
}
#new-item-price{
    width: 10%;
}
#add-item-form{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-item-to-list--btn{
    border-radius: 5px;
    font-size: 2rem;
    border: 4px solid chartreuse;
    padding: 8px;
    color: rgb(9, 9, 148);
    background-color: rgba(176, 233, 119, 0.877);

}
.lists--wrapper {
    flex: 8;
    display: flex;
    width: 98%;
    column-gap: 10px;
    
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list-item:nth-child(odd){
    background-color: rgb(55, 55, 184);
}

.shopping-list--wrapper ,.shopping-cart--wrapper{
    flex: 1;
}
#shopping-cart ,.shopping-list--wrapper ,.total-cart--wrapper {
    border: 2px solid chartreuse;
    
}

.shopping-cart--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.shopping-list--wrapper{
    
    max-height: 90vh;
    overflow-y: scroll;
}
#shopping-cart{
    max-height: 84vh;
    overflow-y: scroll;
    
}

.total-cart--wrapper{
    margin-top: 10px;
}

.cart-item{
    display: flex;
}